---
//Header.astro
---
<section id="footer" class="bg-[#ac3354] text-white">
    <div class="px-5 py-10 flex flex-col items-center">
        <p class="text-center">
            &copy; {`${(new Date()).getFullYear()}`} -  Elias Petry. Mockup para la asignatura de E-Mail Marketing @ 🎓 <a href="https://www.uoc.edu/es" target="_blank" class="font-bold">UOC</a>
            <br/>Recursos visuales: Freepik (2026); Uiverse (2026) y UOC (2026).
        </p>
    </div>
</section>