---
//Header.astro
---
<section id="header">
    <div class="px-5 py-10 flex flex-col items-center">
        <img src="branding/logo.webp" alt="logo" class="w-full max-w-lg md:w-lg"/>
    </div>
</section>