---
//Introduction.astro
---
<section id="introduction">
    <div class="px-5 pb-10 flex flex-col items-center justify-center w-full">
        <div class="w-full max-w-7xl flex flex-col items-center justify-center gap-8">
            <h1 class="text-5xl md:text-6xl text-center font-bold text-[#ac3354]">¿Quieres disfrutar del mejor vino regional y apoyar el cultivo sostenible?</h1>
            <h4 class="text-xl md:text-2xl text-center font-bold text-mauve-600">Consumir botellas producidas en masa siempre deja mal sabor: no solamente suelen ser de peor calidad, sino que perjudican el medio ambiente.</h4>
            <h3 class="text-2xl md:text-3xl text-center text-[#457c6a]">Ser miembro de VitisTerra te da <span class="font-bold text-[#309a77]">acceso inmediato</span> a un amplio catálogo de <span class="font-bold text-[#309a77]">vinos ecológicos</span>, <span class="font-bold text-[#309a77]">talleres exclusivos</span> y una <span class="font-bold text-[#309a77]">comunidad</span> comprometida con la <span class="font-bold text-[#309a77]">viticultura responsable</span>.</h3>
            <h2 class="text-2xl md:text-3xl text-center font-bold bg-[#457c6a] text-white p-3 rounded-2xl">Regístrate y obtén un 20% de descuento en tu primer pedido online, un mes de prueba del programa cosecha y manual de wine-pairing gratuito.</h2>
        </div>
    </div>
</section>